.Ta-style {
  --header-bg-color: #00A680;
  --body-bg-color: #F5F5F5;
}

.App.Ta-style {
  background-color: var(--body-bg-color);
  height: 100%;
  min-height: 100vh;
}

.Ta-style .App-header {
  background-color: var(--header-bg-color, #282c34);
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  margin-bottom: 1.5em;
}

.App-usergroup {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-usergroup-avatar {
  margin: 3px;
  cursor: pointer;
}

.App-usergroup-button.Ta-style,
.search-modal-button-group.Ta-style > Button {
  background-color: var(--header-bg-color);
  border-color: var(--header-bg-color);
}

.App-itinerary-container {
  margin: 30px 0;
}

.App-itinerary-container .card-group {
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 30px;
}

.App-itinerary-container .card-group > .card {
  min-width: 220px;
  flex: 0 0 auto;
  border: 0;
  box-shadow: -2px 2px 5px -3px;
}

.App-itinerary-container > .card-group > .card > .card-header,
.App-itinerary-container > .card-group > .card > .card-body {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.App-itinerary-container .card-group > .card:first-child > .card-body {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  justify-content: space-around;
  flex-direction: row;
}

.App-itinerary-item {
  margin: 10px;   
  font-size: 1em;
  box-shadow: -1px 1px 5px -2px;
  cursor: pointer;
  width: 250px;
}

.App-itinerary-item > .card-body {
  min-width: 250px;
}

.App-itinerary-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

._hoverHighlightItem {
  font-weight: bold;
  border-radius: 10px;
  padding: 1em;
}

._hoverHighlightItem:hover {
  background-color: darkgrey;
}

._geoSelector {
  /*border-radius: 10px;*/
  padding: 1em;
  /*background-color: white;*/
  /*border: 4px black;*/
}
